name: Deploy Default Nginx

on:
  workflow_dispatch:   # Manual trigger from GitHub UI

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Ansible
        run: |
          sudo apt update
          sudo apt install -y ansible

      - name: Create SSH Key File
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > private_key.pem
          chmod 600 private_key.pem

      - name: Run Ansible Playbook (Default Nginx)
        run: |
          ansible-playbook -i inventory.yaml install_nginx_default.yaml \
          --private-key private_key.pem
